.smallblock {
    display: block;
    width: 360px;
    height: 240px;
    border: 2px solid black;
    font-size: 25px;
    display: inline-block;
  }

  .normalblock {
    display: block;
    width: 380px;
    height: 260px;
    border: 2px solid black;
    font-size: 27px;
    color: brown;
    display: inline-block;
  }

  .bigblock {
    display: block;
    width: 420px;
    height: 320px;
    border: 2px solid black;
    font-size: 29px;
    color: green;
    display: inline-block;
  }

  .n2{
    font-size: 31px;
  }
  .n3{
    font-size: 33px;
  }
  .n4{
    font-size: 35px;
  }
  .n5{
    font-size: 37px;
  }
  .n6{
    font-size: 39px;
  }