.blue {
   display: grid;
   grid-template-columns: 240px 240px 240px;
   grid-template-rows: 160px 100px 100px 100px;
   grid-auto-flow: row;
}

.blue>div{
    background-color: rgb(31, 31, 68);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 15px 10px 10px 10px;
    
}

.red {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-auto-flow: column;
}

.red>div{
    background-color: rgb(124, 48, 72);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 15px 10px 10px 10px;
}